@model OA.DTO.Recipiences.RecipienceDTO
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4>Quản lý toa thuốc</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item">
                                Manage prescriptions
                            </li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("New", "Recipience", FormMethod.Post, new { @id = "form-new", @class = "form-horizontal needs-validation repeater", @novalidate = "novalidate", @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("_Form", Model)
                }
            </div>
        </div>
    </div>
</div>